/*home page*/

body {
    min-height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: rgb(231, 83, 120);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
    background-color:rgb(247, 243, 231);
}

.logo {
    display: block;
    margin: 0 auto;
}

.footer {
    text-align: center;
    margin-top: auto;
}

.artist-name {
    color: black;
    text-decoration: none;
}

.credit_text {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-content: center;
    align-self: baseline;
}

.container > div {
    margin: 30px;
    padding: 20px;
    display: block;
    letter-spacing: .020em;
    width: fit-content;
    background-color: white;
    border: 2px solid cadetblue;
    border-radius: 10px;
    align-self: baseline;
}

.artist-link {
    text-decoration: none;
    color: cadetblue;
}

.prod > .titl {
    text-decoration: none;
    color: black;
}

.prod > h2 {
    font-weight: lighter;
}

/*about us*/

.explain {
    text-align: center;
}

.explain-lol {
    font-size: 30px;
    margin-bottom: 7px;
}

.uhh {
    font-size: 7px;
    color: bisque;
}
/* i did all of this in 5 hrs :( */

 /* main color: pink/red, green (blue? teal?), yellow? cmyk i mean/*


